<html>
    <head>
        <title>Fake News Detection</title>
        <link rel = "stylesheet" href="{{ url_for('static',filename='../static/css/design_new.css') }}" />
      </head>
    <body>
      <div class="navbar">
        <ul>
          <li>
            <a href="\">Home</a>
          </li>
        </ul>
      </div>
        <br><br>
        <div class= "result">
        <h2>YOUR PREDICTED TWEET IS:-</h2>
        <br>
            {%if data==0%}
            <h2>Fake</h2>
        {%endif%}
            {%if data==1%}
            <h2>Real</h2>
        {%endif%}
        
        <button type=“button” class="button"><a href='/' title="Back">Back</a></button>
        </div>
    </body>
</html>
